.redesSociales {

    display: flex;
    justify-content: space-around;
    border: palevioletred;
    border-radius: 10px;
    border-style: solid;
    margin: 0 auto;
    width: 90%;



}

.redesSociales img {
    zoom: 60%;
}